{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content %}
<div class="jumbotron">
  <div class="container" id="intro">
    <h1 class="text-center">Welcome to Cheese Wrangler</h1>
  </div>
</div>
<div class="container" id="deets">
  <p class="text-center">Born out of a need for simplicity, there was the Cheese Wrangler. If you've reached this site, you need to be an administrator to conitnue. If you are one, click on 'Admin Login' at the top of the page.</p>
</div>

{% endblock %}
